// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// duygu used this
$gray-blue: #768591;
$dark-blue: #0339A6;
$blue: #034AA6;
$light-blue: #0487D9;
$dark-red: #A60505;
$warning-red: #FF0005;
$grey-two: #7a7b8f;
$white-grey: #f2f2f2;
$dark-grey:#424761;


//main colors
$red-dark: #780000ff;
$red-light: #c1121fff;
$off-white: #fdf0d5ff;
$blue-prussian: #003049ff;
$blue-superiority: #669bbcff;
