// Global variables





// How BOP operates - header area
.header-info-bop {
  width: 100vw;
  height: 60px;
  text-align: center;
  margin-top: 210px;
  margin-bottom: 10px;
  #info-bop-operate-header {
    padding-top: 30px;
    font-family: $body-font;
    font-size: 2.2rem;
    font-weight: 600;
  }
}

// Bop info area one
.bop-info-conatainer-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 400px;
  margin-top: 90px;
  margin-bottom: 20px;
}
.info-bop-image-container-one{
    .info-bop-image-one {
      width: 300px;
      height: 320px;
      background-position: top;
      margin-left: 150px;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;

    }
  }
.info-bop-text-area-one {
  margin-right: 210px;
  margin-top: 90px;
  width: 730px;

  text-align: justify;
  font-family: $body-font;
  font-size: 1.2rem;
  font-weight: 200;

}

// Bop info area two

.bop-info-container-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 90px;
}
.info-bop-image-container-two {
    .info-bop-image-two {
      width: 300px;
      height: 320px;

      margin-right: 150px;
      background-position: top;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;

    }
  }
.info-bop-text-area-two {
  margin-left: 150px;
  margin-top: 90px;
  margin-right: 120px;
  width: 700px;

  text-align: justify;
  font-family: $body-font;
  font-size: 1.2rem;
  font-weight: 200;

}
