// Global styling
.container-home-page {
  width: 100%;
  height: auto;
  font-family: $body-font;
}
    .red-header {
      color: $red-light;
    }
    .blue-header {
      color: $blue-prussian;
}
.wwd-50-radius-images {
  margin-top: -65px;
  margin-left: 32%;
  align-content: center;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
// Main banner for picture
.banner{
  width: 100vw;
  height: 550px;
}
.main-page-pic {
  width: 100%;
  height: 97.4vh;
  object-fit: cover;
  position: absolute;
  top: -3%;
}

// Heading of Main banner
.main-text {
  position:relative;
  margin-left: 8%;
  margin-top: 16%;

  font-weight: 500;
  font-size: 2.5rem;
  line-height: 52px;
  color: #ffffff;
  font-family: $body-font;
}

// Paraghrap of Main banner
.main-paragraph{
  position:relative;
  margin-left: 8%;
  margin-top: 1%;

  width: 600px;
  height: 146px;

  font-size: 25px;
  font-weight: 200;
  line-height: 42px;
  color: #ffffff;
}

// Button in the main banner
.main-button {
  width: 160px;
  height: 40px;
  right: 1380px;
  left: 140px;
  top: 570px;

  border: none;
  position: absolute;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  border-radius: 17px;
  color: #414040;
  font-family: $body-font;
  font-weight: 400;

}

// Exisisting account - sign in tex
.existing-account {
  position: absolute;
  left: 140px;
  top: 620px;
  color: white;
  font-family: $body-font;
  font-weight: 200;
  strong {
    color: rgb(255, 255, 255);
    font-family: $body-font;
  }
}

.fade-box-for-banner {
  position: absolute;
  top: -1px;
  width: 59vw;
  height: 94.5vh;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.6292892156862745) 56%, rgba(20,20,20,0) 100%);}

// what we do header
.what-we-do-header {
  text-align: center;
}
.wwd-header-text {
  font-family: $body-font;
  margin-top: 10px;
  font-size: 2.2rem;
  font-weight: 600;
}

// what we do column grid main

.wwd-main-grid {
  width: 100vw;
  height: 57vh;
  align-content: center;
  justify-content: center;
  place-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 3%;


  // Live track col
  .live-track-col {
    width: 23vw;
    height: 40vh;
    background: rgb(6,0,101);
    background: linear-gradient(135deg, rgba(0,35,111,1) 0%, rgba(220,0,14,0.8841911764705882) 100%);
    box-shadow: rgba(50, 50, 93, 0.322) 0px 30px 60px -12px inset, rgba(44, 44, 44, 0.288) 0px 18px 36px -18px inset;
    text-align: center;
    margin-left: 13%;
    color: white;
    border-radius: 20px;
    .give-margin-class {
      font-size: 20px;
      font-weight: 600;
      margin-top: 30px;
    }
    .give-margin-class-p{
      margin-top: 15px;
      margin-left: 60px;
      margin-right: 60px;
      text-align: justify;

      font-family: $body-font;
      font-size: 1.1rem;
      font-weight: 200;
    }

    h6{font-family: $body-font;}
    strong {font-family: $body-font;}
    .wwd-live-track-image {
      margin-top: 30px;
      width: 75px;
      height: 75px;
      object-fit: cover;
    }
  }

  // workflow col
  .work-flow-col {
    width: 23vw;
    height: 40vh;
    color: white;
    background: rgb(6,0,101);
    background: linear-gradient(135deg, rgba(0,35,111,1) 0%, rgba(220,0,14,0.8841911764705882) 100%);
    box-shadow: rgba(50, 50, 93, 0.322) 0px 30px 60px -12px inset, rgba(44, 44, 44, 0.288) 0px 18px 36px -18px inset;
    text-align: center;
    margin-left: 13%;
    border-radius: 20px;
    .give-margin-class {
      font-size: 20px;
      font-weight: 600;
      margin-top: 30px;
    }
    .give-margin-class-p{
      margin-top: 15px;
      margin-left: 60px;
        margin-right: 60px;

        text-align: justify;
        font-family: $body-font;
        font-size: 1.1rem;
        font-weight: 200;
      }
      h6{font-family: $body-font;}
      strong {font-family: $body-font;}
      .wwd-workflow-image {
        margin-top: 35px;
        width: 70px;
        height: 70px;
        object-fit: cover;
      }
  }

  // online form col
  .online-form-col {
    width: 23vw;
    height: 40vh;
    color: white;
    background: rgb(6,0,101);
    background: linear-gradient(135deg, rgba(0,35,111,1) 0%, rgba(220,0,14,0.8841911764705882) 100%);
    box-shadow: rgba(50, 50, 93, 0.322) 0px 30px 60px -12px inset, rgba(44, 44, 44, 0.288) 0px 18px 36px -18px inset;
    text-align: center;
    margin-left: 13%;
    border-radius: 20px;

      .give-margin-class {
        font-size: 20px;
        font-weight: 600;
        margin-top: 30px;
      }
      .give-margin-class-p{
        margin-top: 15px;
        margin-left: 60px;
        margin-right: 60px;

        text-align: justify;
        font-family: $body-font;
        font-size: 1.1rem;
        font-weight: 200;
      }
      h6{font-family: $body-font;}
      strong {font-family: $body-font;}
      .wwd-online-from-image {
        margin-top: 30px;
        width: 75px;
        height: 75px;
        object-fit: cover;
      }
  }
}

// What is BOP area
.what-is-bop-banner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin-top: 3%;
  width: 100vw;
  height: 50vh;
  .wibop-give-margin-class {
        font-size: 20px;
        font-weight: 600;
        font-size: 2.2rem;
        font-family: $body-font;
      }
      .wibop-give-margin-class-p{

        text-align: justify;
        font-family: $body-font;
        font-size: 1.1rem;
        font-weight: 200;
      }

.wibop-text-area {
  width: 35vw;
  height: 130px;
  margin-top: 12%;
  margin-left: 22%;
}

.wibop-image-box{
  width: 30vw;
  height: 30vh;
  margin-left: 5%;
}

}


// Lets make history Styling
.make-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.lets-make-history-banner {
  width: 100vw;
  height: 500px
}

.lmh-icon-image {
  width: 600px;
  height: 480px;
  object-fit: cover;
  margin-left: 90px;
}
.lmh-paragraph{
  width: 700px;
  height: 400;
  margin-top: 160px;
  margin-left: -70px;
  font-family: $body-font;

  .lmh-give-margin-header {
    font-size: 20px;
    font-weight: 600;
    font-size: 2.2rem;
    font-family: $body-font;
  }

  .lmh-give-margin-header-p{
    text-align: justify;
    font-family: $body-font;
    font-size: 1.1rem;
    font-weight: 200;
  }
}

// footer area

.footer-home-page {
  width: 100vw;
  height: 45px;
  background: linear-gradient(135deg, rgba(0,35,111,1) 0%, rgba(220,0,14,0.8841911764705882) 100%);
  font-family: $body-font;
  margin-top: 2%;
  .footer-text {
    font-family: $body-font;
    font-size: 1rem;
    font-weight: 200;
    color: white;
    padding-top: 15px;
    padding-left: 40px;
  }
}
