/* Color Theme Swatches in Hex */
//  { color: #0339A6; }
//  { color: #034AA6; }
//  { color: #0487D9; }
//  { color: #A60505; }
//  { color: #F2F2F2; }

.bg-image {
  padding: 50px 50px;
  height: 350px;
  margin-top: 15px;
  margin-bottom: 20px;
  background-image: asset-url('rig-image-form.jpg');
  background-position: bottom 12% right 60%;
  background-size: 120%;
  vertical-align: middle;
}

.bg-image .container {
  margin-top: 75px;
}

.bg-white {
  padding-top: 20px;
  margin-bottom: 20px;
  background: white
}

.bg-white h3 {
  text-align: left;
  margin-top: 5rem;
}


.test_heading {
  color: #fdf0d5ff;
  margin-left: 30px;
  font-weight: bold;
  text-shadow: 3px 2px 4px rgba(112, 147, 228, 0.45);
}

.container-new {
  margin-top: 140px;
  margin-left: 180px;
}

.last_test_heading {
  color: #fdf0d5ff;
  margin-left: 30px;
  font-weight: bold;
  text-shadow: 3px 2px 4px rgba(112, 147, 228, 0.45);
}

.main-form-pic{
  height: 300px;
  width: 400px;
  border-radius: 50px;
}

.general_info_form{
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-gap: 15px;
  border: 1px rgb(228, 228, 228) solid;
  border-radius: 15px;
  padding: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.general_info_form_first_row{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-gap: 15px;
  padding: 20px;
  font-weight: bold;
}

.general_info_form_second_row{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 15px;
  padding: 20px;
  font-weight: bold;
}



.equipment_check_form {
  margin-top: 20px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  border: 1px rgb(228, 228, 228) solid;
  border-radius: 15px;
  padding: 30px;
  font-weight: bold;
}

.equipment_check_question {
  align-items: center;
  margin-bottom: 10px;
  color : rgb(80, 79, 79);
}

.equipment_check_question div {
  margin-bottom: 10px;
  color : rgb(80, 79, 79);
}

.equipment_check_question span .form-check {
  color : grey;
}

.choke_manifold_form {
  margin-top: 20px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  border: 1px rgb(228, 228, 228) solid;
  border-radius: 15px;
  padding: 40px;

  font-weight: bold;
}

.choke_manifold_question {
  align-items: center;
}

.choke_manifold_form div {
  margin-bottom: 10px;
  color : rgb(80, 79, 79);
}

.choke_manifold_form span .form-check {
  color : grey;
}

.standpipe_manifold_form {
  margin-top: 20px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  border: 1px rgb(228, 228, 228) solid;
  border-radius: 15px;
  padding: 30px;
  font-weight: bold;
}

.standpipe_manifold_question {
  align-items: center;
}

.standpipe_manifold_form div {
  margin-bottom: 10px;
  color : grey
}

.standpipe_manifold_form span .form-check {
  color : grey(29, 105, 204)
}


.form-check {
  display: inherit !important;
}

.component_test_form {
  margin-top: 20px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  border: 1px rgb(228, 228, 228) solid;
  border-radius: 15px;
  padding: 30px;
  color : grey;
  font-weight: bold;
}

.component_test_question {
  align-items: center;
  margin-bottom: 10px;
}

.safety_valve_test_form {
  margin-top: 20px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  border: 1px rgb(228, 228, 228) solid;
  border-radius:15px;
  padding: 30px;
}

.safety_valve_test_question {
  align-items: center;
  color : rgb(80, 79, 79);
  font-weight: bold;
}


#approvals{
  margin-top: 25px;
  margin-bottom: 25px;
}
#approvals h4 {
  text-align: left;
}

.approval_input {
  border: 1px rgb(228, 228, 228) solid;
  border-radius: 15px;
  width: 200px;
  padding: 12px;
  color: #011c52;
  font-weight: bold;
  margin-bottom: 12px;
}

.nested-margin{
  margin-bottom: 10px;
}

.create-btn {
  text-align: center;
}

.manif-question {
  color: rgb(80, 79, 79) !important;
}
