* {
  font-family: "Roboto Condensed", "Roboto Condensed 400";
 }

.cont-pres {
  display: flex;
  overflow: auto;
  padding: 20px;
  color: #fdf0d5ff;
}

.strong-next {
  color: rgb(206, 38, 38);
}
.sidebar {
  height: 100%;
  width: 30%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #003049ff;

  z-index: 50;
}
.pressure-details {
  margin-top: 4px;
  margin-left: 10px;
  text-align: left;
  color: #fdf0d5ff;
}


.avatar-large {
  width: 56px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.bop-serial {
  margin-top: 15px;
}

.container-appr {
	display: grid;
  grid-template-columns: 4fr 4fr 1fr;
  color: #fdf0d5ff;;
}

.appr-name {
  margin-left: 10px;
  margin-top: 8px;
}

.appr-position {
  margin-top: 8px;
}

.appr-status {
  margin-top: 8px;
  text-align: center;
}

.tests-out {
  margin-left: 30%;
}

.cont-comp {
  display: flex;
  overflow: auto;
  margin-top: 12px;
  padding: 10px;
}

.comp-item {
  margin-left: 70px;
  border-radius: 12px;
  width: 30%;
  padding: 12px 20px;
  font-size: larger;
  background-color: #1e2a31;
  color: wheat;
  box-shadow: 2px 2px 42px -21px rgba(0,0,0,0.71);
}

.heading-pres {
  margin-top: 100px;
  text-align: center;
  color: #fdf0d5ff;
}

.comp-item > h4 {
  text-align: center;
}

.heading-comp {
  border-radius: 8px;
  width: 30%;
  height: 40%;
  margin: 12px auto;
  padding: 10px;
  text-align: center;
  background-color: #1e2a31;
  color: wheat;
  box-shadow: 2px 2px 42px -21px rgba(0,0,0,0.71);
}

.arrow-pres {
  font-size: 60px;
  margin-top: 50px;
  margin-left: 70px;
  color: rgb(87, 44, 40);
}

.arrow-pres2 {
  font-size: 60px;
  text-align: center;
  transform: rotate(90deg);
  color: rgb(87, 44, 40);
}

.show-pressure {
  margin-left: 70px;
  border-radius: 12px;
  width: 30%;
  padding: 12px 20px;
  font-size: larger;
  background-color: #1e2a31;
  color: wheat;
  box-shadow: 2px 2px 42px -21px rgba(0,0,0,0.71);
}

.strong{
  color: #c75000;
}


.container-question {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
}

.questionss {
  border: 2px solid rgb(15, 10, 19);
  border-radius: 12px;
  padding: 8px;
}

.items {
  display: inline;
  margin-left: 10px;
  border: 2px solid rgb(179, 77, 77);
  border-radius: 4px;
  padding: 6px;
}

.item2 {
  border: 2px solid #38a58a;
  padding: 3px;
  border-radius: 24px;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 36px;
  font-size: larger;
  vertical-align: auto;
}

.item2 > a {
  color:#38a58a;
}

.item2 > a:hover {
  color:rgb(158, 219, 123);
  text-decoration: none;
}

.press-table {
  margin-left: 30%;
  width: 850px;
  border-collapse: collapse;
}



.press-table td{
  border: 1px solid rgb(196, 195, 195);
  padding: 8px;

}

.press-table th {
  padding: 8px;

}


.test-info {
  background: #003049ff;
  border: 2px solid #003049ff;
  border-radius: 8px;
  color: white;
}

.test-comp {
  background: rgb(0, 64, 99);
  border: 2px solid rgb(0, 64, 99);
  border-radius: 8px;
  color: white;
}

.test-safety {
  background: rgb(0, 71, 109);
  border: 2px solid rgb(0, 71, 109);
  border-radius: 8px;
  color: white;
}

.test-equip {
  background: rgb(0, 74, 114);
  border: 2px solid rgb(0, 74, 114);
  border-radius: 8px;
  color: white;
}

.test-choke {
  background: rgb(0, 88, 136);
  border: 2px solid rgb(0, 88, 136);
  border-radius: 8px;
  color: white;
}

.pres-div {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.strong-tbl {
  font-style: bold;
  font-weight: bold;
  color:rgb(19, 3, 3);
}

.report-file-div {
  border: 1px solid rgb(196, 195, 195);
  margin-left: 560px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 8px;
  width: fit-content;
}

.aligning {
  margin-left: 462px;
}

.pres-div2 {
  margin-left: 462px;
}
