    <div class='header-info-bop'>
      <h2 class='info-bop-operate-header'>How does a BOP work?</h2>
    </div>


  <div class="bop-info-conatainer-one">
    <div class="info-bop-image-container-one">
      <%= image_tag 'top-bop-info-img.png', alt: "About us", class: "info-image-one" %>
    </div>

    <div class="info-bop-text-area-one">
      <p class='info-bop-paragraph-one'>The BOP is deployed from the rig and installed on the well during the early stages of well construction. It remains in place during exploration activities, serving as a mechanical barrier that can be activated to seal off the well and isolate it from the rig or sea. Once activities on the well are complete, the BOP is retrieved back to the rig to be used for the next well.</p>
    </div>
  <div>

  <div class="bop-info-container-two">
    <div class="info-bop-image-container-two">
      <%= image_tag 'bottom-bop-info-img.png', alt: "About us", class: "bottom-bop-info-pic" %>
    </div>

    <div class="info-bop-text-area-two">
      <p>The BOP can shut in the well in minutes. If activated, the blowout preventer will automatically close hydraulic rams and activate specialised seals against the drill string to seal the bore. If this does not work properly, there are other rams which can completely cut through the drill string to seal the hole. In all, the BOP has six independent shut-in mechanisms. Blowout preventers are proven to be highly effective in ensuring well safety.</p>
    </div>
  </div>
