<div class="container">
  <%= image_tag "bop-main-img.jpeg", alt: "Home", class: "main-page-pic" %>
    <h2 class='main-text'>Welcome to Smart BOP</h2>
    <p class='main-paragraph'> We are committed to bring safety to the front line workers and give accurate results with a better history records</p>

    <%= link_to "<button class='main-button '>Sign Up</button>".html_safe, new_user_registration_path %>
    <p class='existing-account'>Already have an account | <%= link_to "<strong>log in</strong>".html_safe, new_user_session_path  %></p>
</div>
