.bop-page-body {
  // background-image: linear-gradient(to right top, #b5b5bf, $white-grey);
  min-height: 100vh;
}

.bop-table-container {
  font-family: 'Roboto Condensed', sans-serif;
  width: 60%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  text-align: left;
}
.bop-table-wrapper {
  display: grid;
  grid-template-rows: auto;
  position: relative;
  left: 35%;
  top: 5%;
}

.bop-table-title {
  text-align: left;
  color: $prussian-blue;
  //text-shadow: 1px 1px 2px black;
  margin: 20px;
  margin-left: 0%;
}

.pressure-test-link {
  text-decoration: none;
  color: $dark-grey;
  font-size: 25px;
  &:hover{
    color: white;
    text-decoration: none;
  }
}

.th-title {
  color: $white-grey;
  text-shadow: 1px 1px 2px $dark-grey;
}

.table-head-wrapper {
  background-color: #29539b;
  background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
  border-radius: 10px;
}

.test-date-p {
  margin-top: 12%;
}
