.add-button-main {
  border: 1px solid $blue;
  border-radius: 6px;
  background-color: $blue;
  font-family: 'Roboto Condensed', sans-serif;
  color: $white-grey;
  padding: 5px 10px;
  margin: 10px;
  &:hover {
    border: 1px solid $light-blue;
    background-color: $light-blue;
    text-decoration: none;
    color: white;
  }
}
.remove-button-main {
  border: 1px solid $dark-red;
  border-radius: 6px;
  background-color: $dark-red;
  font-family: "Roboto Condensed";
  color: $white-grey;
  padding: 5px 10px;
  margin: 10px;
  &:hover {
    border: 1px solid $warning-red;
    background-color: $warning-red;
    text-decoration: none;
    color: white;
  }
}

.create-test-button {
  border: 1px solid $blue;
  border-radius: 6px;
  background-color: $blue;
  font-family: 'Roboto Condensed', sans-serif;
  color: $white-grey;
  padding: 5px 10px;
  margin: 10px;
  &:hover {
    border: 1px solid $light-blue;
    background-color: $light-blue;
    text-decoration: none;
    color: white;
  }
}

.btn-photo{
  color: red;
}
