$dark-gblue: #57758D;

.navbar-xspace {
  position: relative;
  z-index: 10;
  position: sticky;
  top: 10px;
  height: 90px;
  margin-bottom: 20px;
}
.navbar-xspace-white {
  background-color: white;
}

#navbarSupportedContent {
  position: absolute;
  right: 5px;
}

.navbar-xspace .navbar-collapse {
  flex-grow: 0;
}

.navbar-xspace .navbar-brand img {
  width: 130px;
  position: absolute;
  left: 48px;
  top: 35px;
  background: transparent;
}

.nav-link {
  color: rgb(212, 49, 49);
  border-radius: 10px;
  margin-left: -20px;
  margin-right: 60px;
  margin-top: 20px;
}



#nav-text {
  font-size: 19px;
  font-weight: 500;
  color: rgb(214, 59, 59);
}

#nav-text:hover {
  color: rgb(59, 117, 192);
}

.margin-top-spacing {
  margin-top: 40px;
}
