$dark-gblue: #57758D;

.navbar-xspace {
  position: relative;
  z-index: 10;
  position: sticky;
  top: 0;
  height: 60px;
  margin-bottom: 20px;
}
.navbar-xspace-white {
  background-color: white;
}

#navbarSupportedContent {
  position: absolute;
  right: 5px;
}

.navbar-xspace .navbar-collapse {
  flex-grow: 0;
}

.navbar-xspace .navbar-brand img {
  width: 130px;
  position: absolute;
  left: 48px;
  top: 10px;
  background: transparent;
}

.nav-link {
  color: #c1121fff;
  font-size: 22px;
  border-radius: 10px;
  font-weight: bold;
}



#nav-text {
  font-size: 19px;
  font-weight: 500;
  color: #c1121fff;
  font-size: 22px;
  font-weight: bold;
}

#nav-text:hover {
  color: rgb(59, 117, 192);
}

.margin-top-spacing {
  margin-top: 5rem;
}

.nav-item {
  margin: 1px;
}
