
.navbar-xspace {
  position: relative;
  z-index: 10;
  position: sticky;
  background-color: transparent;
  top: 0;
  height: 80px;
}

#navbarSupportedContent {
  position: absolute;
  right: 5px;
}

.navbar-xspace .navbar-collapse {
  flex-grow: 0;
}

.navbar-xspace .navbar-brand img {
  width: 100px;

}

.nav-link {
  color: white;
  border-radius: 10px;
  margin-left: 10px;
  background-color: #c25f4d;
}

.nav-link:hover {
  background-color: #e2a89e;
  color: $dark-gblue;
}

#nav-text {
  font-weight: bolder;
  color: white;
}
