.rig-table-container {
  width: 80%;
  border-radius: 10px;
  position: absolute;
  left: 10%;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(15px);
  text-align: center;

}

.rig-page-title {
  text-align: center;
  font-size: 35px;
  color: $grey-two;
  text-shadow: 1px 1px 2px black;
  margin: 10px;
}

.rig-page-body {
  background-image: linear-gradient(to right top, #b5b5bf, $white-grey);
  font-weight: bold;
  color: #424761;
  min-height: 100vh;
  font-family: 'DM Sans', sans-serif;
}


.row-header {
  color: $white-grey;
  text-shadow: 1px 1px 2px $dark-grey;
  font-size: 1.1em;
}

.rig-filler {
  color: #424761;
  font-weight: bold;

}

