<div class="nested-fields nested-margin">
  <div class="approval_input">
    <%= f.association :user, collection: current_user.rig.users %>
  </div>
      <%= link_to_remove_association f, class:"remove-button-main" do %>
      <i class="far fa-trash-alt"></i>
    <% end %>
</div>
