<h1>Pressure Tests</h1>
<% @pressure_tests.each do |pressure_test| %>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Completed Date</th>
      <th scope="col">Well Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= pressure_test.id %></th>
      <td><%= pressure_test.completed_date %></td>
      <td><%= pressure_test.well_name %></td>
      <td><%= link_to "Show", pressure_test_path(pressure_test) %></td>
    </tr>
   </tbody>
</table>
<% end %>
